@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');

@font-face {
    font-family: IRANSansWeb;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/bold.eot');
    src: url('../fonts/eot/bold.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/bold.woff2') format('woff2'), url('../fonts/woff/bold.woff') format('woff'), url('../fonts/ttf/bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansWeb;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/medium.eot');
    src: url('../fonts/eot/medium.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/medium.woff2') format('woff2'), url('../fonts/woff/medium.woff') format('woff'), url('../fonts/ttf/medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansWeb;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/light.eot');
    src: url('../fonts/eot/light.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/light.woff2') format('woff2'), url('../fonts/woff/light.woff') format('woff'), url('../fonts/ttf/light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansWeb;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/ultralight.eot');
    src: url('../fonts/eot/ultralight.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/ultralight.woff2') format('woff2'), url('../fonts/woff/ultralight.woff') format('woff'), url('../fonts/ttf/ultralight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansWeb;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/regular.eot');
    src: url('../fonts/eot/regular.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/regular.woff2') format('woff2'), url('../fonts/woff/regular.woff') format('woff'), url('../fonts/ttf/regular.ttf') format('truetype');
}
